.tagbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 34rem;
  height: 7.5rem;
  position: relative;
  cursor: text;
  vertical-align: middle;
  border-radius: 8px;
  -webkit-transition: height 0.2s, border-radius 0.2s;
  transition: height 0.2s, border-radius 0.2s;
  padding: 0.5rem;
  background: #40444b;
  color: #b9bbbe;
  margin-left: 0.5rem;
}

.tagbox-wrapper input {
  font: 13px/21px "Helvetica Neue", sans-serif;
  color: #b9bbbe;
  outline: none;
  border: none;
  background: transparent;
  margin: 1px 0;
  line-height: 19px;
  vertical-align: top;
  padding-left: 0;
}

row {
  display: flex;
  flex-direction: row;
}

row .tagbox-wrapper {
    height: 3.5rem;
}

form input {
  background-color: var(--lighter-gray);
  color: var(--lightest-gray);
  font-weight: 600;
  height: 2rem;
  width: 9rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 8px;
}

select {
  background-color: var(--lighter-gray);
  color: var(--lightest-gray);
  font-weight: 600;
  height: 3rem;
  width: 10rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 8px;
}

label {
  margin: 1rem 0.5rem;
}

input[type=checkbox] {
  width: 2rem;
}


table {
  margin-left: 0.5rem;
  background-color: var(--lighter-gray);
  width: 120rem;
  border-radius: 8px;
  border: none;
}

table th:nth-of-type(4) {
  text-align: left;
}

table td:nth-of-type(4) {
  text-align: left;
}

table th:nth-of-type(5) {
  border-radius: 0;
  color: var(--lightest-gray);
  width: auto;
}

table td:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1.5rem 0 1.5rem 0;
}

table th:nth-of-type(8) {
  border-radius: 0 8px 0 0;
  color: transparent;
  width: 15%;
}

table td:nth-of-type(8) {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-evenly;
}




addspell {
  visibility: hidden;
  width: 38rem;
  padding: 2rem 2rem 2rem 3rem;
  position: absolute;
  z-index: 100;
  left: 30%;
  top: 20%;
  border-radius: 8px;
  background-color: var(--gray);
  color: var(--lightest-gray);
}