:root {
  --darkest-gray: #202225;    /*Ribbon        */
  --darker-gray: #292b2f;     /*SubRibbon     */
  --dark-gray: #2f3136;       /*SidePannel    */
  --gray: #36393f;            /*Body          */
  --lighter-gray: #40444b;    /*TextField     */
  --lightest-gray: #b9bbbe;   /*ButtonIcons   */
  --disabled-gray: #757679;   /*Disabled field*/

  --black: #18191c;

  --pale-green: #43b581;   /*decorative*/
  --dark-orange: #a63a0c;
  --pale-red: #f04747;     /*decorative*/
  --pale-orange: #faa61a;  /*decorative*/
  --pale-yellow: #ffd836;
  --pale-magenta: #f47fff; /*decorative*/
  --pale-blue: #7289da;    /*SaveButton*/
  --pale-blue-hover: #667ac3;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}


toast {
  visibility: hidden;
  width: 20rem;
  margin-left: -125px;
  background-color: var(--darker-gray);
  color: var(--lightest-gray);
  text-align: center;
  border-radius: 3rem;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 1.5rem;

  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 1s 2.5s;
  animation: fadein 0.5s, fadeout 1s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

toast img {
  height: 2.5rem;
  margin: auto;
}

toast p {
  margin: auto;
  margin-left: 0;
}


info {
  visibility: hidden;
  width: 24rem;
  height: 10rem;
  z-index: 50;
  background-color: var(--black);
  color: var(--lightest-gray);
  position: absolute;
  left: 8rem;
  bottom: 2rem;
  border-radius: 8px;
}

info div {
  border-bottom: 1px solid var(--disabled-gray);
  margin: 1rem 1rem 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

info p {
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding-left: 0.5rem;
}

info.show {
  visibility: visible;
  -webkit-animation: appear 0.5s;
  animation: appear 0.5s;
}

@-webkit-keyframes appear {
  from { opacity: 0;} 
  to { opacity: 1;}
}

@keyframes appear {
  from { opacity: 0;}
  to { opacity: 1;}
}


challenger {
  visibility: hidden;
  width: 24rem;
  height: 28.25rem;
  position: absolute;
  z-index: 100;
  left: 40%;
  top: 30%;
  border-radius: 8px;
  background-color: var(--gray);
  color: var(--lightest-gray);
}

challenger .tagbox-wrapper {
  width: 19rem;
  height: 19rem;
  margin: auto;
}

challenger mybutton {
  background-color: var(--lighter-gray);
  margin-left: 11rem;
}

challenger mybutton:hover {
  background-color: var(--gray);
  transition: 0.25s;
}


blackout {
  visibility: collapse;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: black;
  opacity: 0.75;
  z-index: 50;
}

blackout.show {
  visibility: visible;
  -webkit-animation: darken 0.5s;
  animation: darken 0.5s;
}

@-webkit-keyframes darken {
  from { opacity: 0;} 
  to { opacity: 0.75;}
}

@keyframes darken {
  from { opacity: 0;}
  to { opacity: 0.75;}
}