:root {
    --darkest-gray: #202225;    /*Ribbon        */
    --darker-gray: #292b2f;     /*SubRibbon     */
    --dark-gray: #2f3136;       /*SidePannel    */
    --gray: #36393f;            /*Body          */
    --lighter-gray: #40444b;    /*TextField     */
    --lightest-gray: #b9bbbe;   /*ButtonIcons   */
    --disabled-gray: #757679;   /*Disabled field*/

    --pale-green: #43b581;   /*decorative*/
    --dark-orange: #a63a0c;
    --pale-red: #f04747;     /*decorative*/
    --pale-orange: #faa61a;  /*decorative*/
    --pale-yellow: #ffd836;
    --pale-magenta: #f47fff; /*decorative*/
    --pale-blue: #7289da;    /*SaveButton*/
    --plae-blue-hover: #667ac3;

    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

popup {
    background-color: var(--gray);
    color: var(--lightest-gray);
    font-size: 14px;
    top: 80%;
    left: 10rem;
    position: fixed;
    z-index: 100;
    width: 24rem;
    height: 12rem;
    border-radius: 1rem;
    box-shadow: 4px 6px 8px black;
    margin: 0;
}

popup div {
    background-color: #40444b;
    color: #b9bbbe;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 1rem 1rem 0 0;
}

ribbon {
    background-color: var(--darkest-gray);
    color: var(--lightest-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
    padding: 1rem;
    margin: 0;
    text-align: left;
    z-index: 50;
    font-size: 50px;
    font-weight: bold;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: space-between;
}

ribbon img {
    margin-bottom: 2rem;
    height: 3rem;
}

backdrop {
    background-color: var(--darkest-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

mainbody {
    background-color: var(--gray);
    color: var(--lightest-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 1rem 0 0;
    margin: 2rem 7rem;
    padding: 0;

    display: flex;
    flex-direction: row;
}

functions {
    background-color: var(--dark-gray);
    color: var(--lightest-gray);
    top: 0;
    left: 0;
    width: 16.5rem;
    height: 100rem;
    border-radius: 1rem 0 0;
    margin: 0;
    padding: 0.5rem;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

func {
    background-color: var(--dark-gray);
    width: 16rem;
    height: 3rem;
    border-radius: 8px;
    margin: 2px;
    font-weight: 800;

    display: flex;
    flex-direction: row;
}

funcfunc:hover {
    background-color: var(--gray);
    transition: 0.25s;
}

func img {
    height: 2rem;
    margin: 0.5rem;
}

func label {
    margin: auto;
    margin-left: 0;
}

functions break {
    width: 16rem;
    border-bottom: 2px solid var(--lighter-gray);
    margin: 0.5rem 0 0.5rem 0;
}

content {
    margin: 2rem;
    overflow: scroll;
    width: 100vw;
    padding-bottom: 10rem;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

content::-webkit-scrollbar {
    display: none;
}

myTitle {
    font-size: 20px;
    font-weight: 900;
    padding-right: 5rem;
    border-bottom: 2px solid var(--lightest-gray);
}

myTitle img {
    height: 4rem;
}

r {
    display: flex;
    flex-direction: row;
}



box {
    background-color: var(--dark-gray);
    margin: 1.5rem 0 -0.5rem 0.5rem;
    padding: 0.5rem;
    /* width: 44rem; */
    height: 3rem;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 43.75rem;
    border-left: 4px solid #b9bbbe;
}

box p {
    font-size: 14px;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    font-weight: bold;
    width: 33%;
    text-overflow: clip;
}

left {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.75rem;
    width: 75%;
}

right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

box right {
    display: flex;
    flex-direction: row;
    width: 75%;
}

right p {
    background-color: var(--lighter-gray);
    color: var(--disabled-gray);
    border-radius: 8px;
    height: 1.5rem;
    width: 2rem;
    margin: 0 0.5rem 0 0;
    padding: .75rem;
    text-align: center;
}

box input {
    background-color: var(--lighter-gray);
    color: var(--lightest-gray);
    font-weight: 600;
    height: 2rem;
    width: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    margin-right: 0.5rem;
}

right select {
    width: 10rem;
    margin: 0;
}

right img {
    height: 2rem;
    margin: 0.5rem 1rem;
}


healthbar {
    background-color: var(--lightest-gray);
    font-size: 1.25rem;
    width: 0;
    height: 1rem;
    border-radius: 8px;
    display: flex;
    margin-top: 1.75rem;
    margin-left: 2rem;
    font-weight: bold;
    border-left: 30rem solid var(--pale-red);
}


fightside {
    width: 35%
}

input:focus, textarea:focus, select:focus{
    outline: none;
}